/* Estilos B치sicos */
body {
    font-family: Arial, sans-serif;
    background-color: #ffeed8;
    color: #333333;
}

/* Encabezado y Navegaci칩n */
header {
    background-color: #fc9b0a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #ccc;
}

/* Contenido Principal */
main {
    margin: 40px;
}

section { 
    border: 5px solid #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

article img {
    max-width: 100%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Formulario de Contacto */
form {
    margin-top: 40px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Pie de P치gina */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.tama침oImagen{

    display: flex;
    height: 700px;
    

}
.centrarTitulos{

    display: flex;
    align-self: center;

}